<!-- If page for Listing APK is choosen -->			
<?php if(isset($_GET['select_analysis'])) { ?>
<b>Select Tests Data and configuration for further Analysis</b><br> <font color='grey'>(Obtained Data from static and dynamic Tests will be processed and analysed according to chosen options)</font><br>
<form action='<?php echo $_SERVER["REQUEST_URI"]; ?>' method='post' enctype='multipart/form-data' name='performed_tests_form'>
    <table class='table_conf'>
        <tr>
            <td width='400px'>Resources Usage Analysis</td>
            <td width='50px'><input type='checkbox' name='resources_usage_analysis'></td>
        </tr>
        <tr>
            <td>Machine Learning Detection of Threats</td>
            <td><input type='checkbox'  name='ml_threats_analysis'></td>
        </tr>
        <tr>
            <td>Structure of App Data  </td>
            <td><input type='checkbox' name='data_structure_analysis'></td>
        </tr>
        <tr>
            <td>App's Shared Preferences </td>
            <td><input type='checkbox' name='shared_prefs_analysis'></td>
        </tr>
        <tr>
            <td>App's Databases Content </td>
            <td><input type='checkbox' name='databases_analysis'></td>
        </tr>
    </table>
    <br>
    <?php	if(isset($list_tests)&count($list_tests)!==FALSE ) { ?>
    <table border='0' align='center' width='800px' >
        <tr class='tr_top_stat'>
            <td><b> <input type='checkbox' name='checker' onclick="checkAll('performed_tests_form');this.checked=this.checked?false:true;" value='Test'></b></td>
            <td><b>Test ID</b></td>
            <td><b>App Label</b></td> 
            <td><b>App ID</b></td> 
            <td><b>App VesrionName</b></td>
            <td><b>AVD Name</b></td>
            <td><b>AVD OS Name</b></td>
            <td><b>Min App SDK (API) Version</b></td>
            <td><b>Finished</b></td>
            <td><b>Duration</b></td>
            <td><b>Errors</b></td>
        </tr>
        <?php	foreach ($list_tests as $i=> $test_data) { ?>
        <?php $tr_class=fmod($i,2)?'row_class1':'row_class2'; ?>
        <tr class=<?php echo $tr_class; ?>>
            <td><input type='checkbox' name='selectedTestToAnalyse[<?php echo $i; ?>]' value='<?php echo $test_data['id_test']; ?>'></td> 
            <td><?php echo $test_data['id_test']; ?></td>
            <td><?php echo $test_data['app_label']; ?></td>
            <td><?php echo $test_data['id_app']; ?></td>
            <td><?php echo $test_data['version']; ?></td>
            <td><?php echo $test_data['avd_name']==''?"<font color='grey'>was deleted</font>": $test_data['avd_name']; ?></td>
            <td><?php echo $test_data['target']==''?"<font color='grey'>was deleted</font>": $test_data['target']; ?></td>
            <td><?php echo $test_data['sdkVersion']; ?></td>
            <td><?php echo $test_data['time']; ?></td>
            <td><?php echo $test_data['duration']; ?></td>
            <td><?php echo $test_data['errors']; ?></td>
            	
        </tr>

        <?php };  ?>
    </table>

    <br>

    <input type='submit' name='analyseSelectedTests' value='Analyse Tests Data' OnClick="return confirm('Are you sure you want to analyse selected tests data?');" />	
    <?php } else echo "<i>No Elements!</i>"; ?>
    <br><br>
</form>


<?php } if(isset($_GET['analysis_list'])) { ?>
<b>Performed Analysis</b><br> <font color='grey'>(There are presented information, extracted after analysis of collected test data for each application)</font><br>
<form action='<?php echo $_SERVER["REQUEST_URI"]; ?>' method='post' enctype='multipart/form-data' name='performed_analysis_form'>
    <?php	if(isset($list_analysis)&count($list_analysis)!==FALSE ) { ?>

    <table border='0' align='center' width='800px' >
        <tr class='tr_top_stat'>
            <td><b> <input type='checkbox' name='checker' onclick="checkAll('performed_analysis_form');this.checked=this.checked?false:true;" value='Test'></b></td>
            <td><b>Analysis ID</b></td>
            <td><b>Test ID</b></td>
            <td><b>App ID</b></td>
            <td><b>App Label</b></td> 
            <td><b>Finished</b></td> 
            <td><b>THREATS</b></td> 
            <td><b>Info</b></td>
        </tr>
        <?php	foreach ($list_analysis as $i=> $analysis_data) { ?>
        <?php $tr_class=fmod($i,2)?'row_class1':'row_class2'; ?>
        <tr class=<?php echo $tr_class; ?>>
            <td><input type='checkbox' name='selectedAnalysisToDelete[<?php echo $i; ?>]' value='<?php echo $analysis_data['id_analysis']; ?>'></td> 
            <td><?php echo $analysis_data['id_analysis']; ?>
            <td><?php echo $analysis_data['id_test']; ?></td></td>
            <td><?php echo $analysis_data['id_app']; ?></td>
            <td><?php echo $analysis_data['app_label']; ?></td>
            <td><?php echo $analysis_data['analysis_finished']; ?></td>
            <td>
                <?php if($analysis_data['ml_threats_analysis']!='') { ?>
                <font color='red'>detected</font></td> 
                
                <?php } else {?>
                <font color='grey'>not detected</font></td> 
            <?php };?>
            <td>

                <a href="javascript:toggleDiv('hidContent<?php echo $i; ?>');
                   <?php if(isset($analysis_data['line_CPU']))  { ?>
                   drawChart('cpu<?php echo $i; ?>',<?php echo $analysis_data['line_CPU']; ?>,'CPU (% of usage)','#64C2C2');
                   drawChart('thr<?php echo $i; ?>',<?php echo $analysis_data['line_THR']; ?>,'THR (number of used threads)','#663333');
                   drawChart('vss<?php echo $i; ?>',<?php echo $analysis_data['line_VSS']; ?>,'VSS(MB, amount of physical for process)','#D1A446');
                   drawChart('rss<?php echo $i; ?>',<?php echo $analysis_data['line_RSS']; ?>,'RSS(MB, virtual memory, associated with the process)','#FFB90F');  
                   <?php };  ?>" class="more_button">More</a>
            </td>	
        </tr>

        <tr>
            <td colspan="11" class="tr_hidden">
                <div id='hidContent<?php echo $i; ?>' class="hiddenDesc" style=" padding: 5px 10px;">

                    <table class="table_hidden"  style='table-layout:fixed'>
                        
                        <tr>
                            <td  width='100px'><b>Possible Threats</b></td>
                            <td>
                                <pre><?php ($analysis_data['ml_threats_analysis']!='')?print_r(unserialize($analysis_data['ml_threats_analysis'])):print("<i> Not found! </b>"); ?></pre>
                            </td>
                        </tr>
                        <tr>
                            <td><b>ScreenShot</b></td>
                            <td>
                                <?php	if($analysis_data['screenshot']!='') { ?>
                                <img height="400px" src="/<?php echo $analysis_data['folder_name']; ?>/screenshot.png" />
                                <?php } else {  ?>
                                <i> Unavailable! </b>
                                    <?php };  ?>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Resources Usage</b></td>
                            <td>
                                <?php	if(isset($analysis_data['line_CPU'])) { ?>
                                <div id="cpu<?php echo $i; ?>" class='graphicDiv'></div>	
                                <div id="thr<?php echo $i; ?>" class='graphicDiv'></div>	
                                <div id="vss<?php echo $i; ?>" class='graphicDiv'></div>	
                                <div id="rss<?php echo $i; ?>" class='graphicDiv'></div>	
                                <?php } else {  ?>
                                <i> Unavailable! </b>
                                    <?php };  ?>
                            </td>
                        </tr>
                        
                        <tr>
                            <td><b>Data Folder (in /data/data) Structure</b></td>
                            <td>
                                <pre><?php echo ($analysis_data['data_structure_analysis']!='')?$analysis_data['data_structure_analysis']:"<i> Unavailable! </b>"; ?></pre>
                            </td>
                        </tr>
                        
                        <tr>
                            <td><b>Data Bases extracted content (file,table,content)</b></td>
                            <td>
                                <pre><?php ($analysis_data['databases_analysis']!='')?print_r(unserialize($analysis_data['databases_analysis'])):print_r("<i> Unavailable! </b>"); ?></pre>
                            </td>
                        </tr>
                        
                        <tr>
                            <td><b>Shared Preferences xml content (file,content)</b></td>
                            <td>
                                <pre><?php ($analysis_data['shared_prefs_analysis']!='')?print_r(unserialize($analysis_data['shared_prefs_analysis'])):print_r("<i> Unavailable! </b>"); ?></pre>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Requested Permissions</b></td>
                            <td>
                                <pre><?php ($analysis_data['permissions']!='')?print_r(implode("\n",unserialize($analysis_data['permissions']))):print_r("<i> Unavailable! </b>"); ?></pre>
                            </td>
                        </tr>

                    </table>

                </div>
            <td>
        </tr> 
        <?php };  ?>
    </table>
    <br>
    <input type='submit' name='deteleSelectedAnalysis' value='Delete Selected Analysis Data' OnClick="return confirm('Are you sure you want to delete selected analysis data?');" />	


    <?php } else echo "<i>No Elements!</i>"; ?>
    <br><br>
</form>

<?php } else if(!count($_GET)) { ?>
<h4>Current page is designed for executing analysis of collected data during Test Cycle</h4> 
You can choose already processed data from Test cycle and run corresponding analysis phase on it. <br>
All information that was analysed is presented in understandable format.
<br>
<?php }; ?>
<br>

