		
<!-- If page for Upload APK is choosen -->		
<?php if(isset($_GET['upload'])) { ?>
Please, select Android Aplication (APK) file to upload (allowed size <?php echo $upload_mb/(1024*1024); ?>MB):
<form action='<?php echo $_SERVER["REQUEST_URI"]; ?>' method='post' enctype='multipart/form-data'>
    <input type='hidden' name='MAX_FILE_SIZE' value='".$upload_mb."' />
    <input type='file' name='filename' />
    <input type='submit' value='Upload' />
</form>
<br>
<!-- If page for Listing APK is choosen -->			
<?php } else if(isset($_GET['list'])) { ?>
<div>
    <!-- Generate list of uploaded but not processed APK files -->		
    <b>Uploaded Applications</b> (not processed, now in the folder <?php echo $tmp_folder; ?>
    <?php echo (isset($files)&&count($files)>0)?", <font color='grey'>total: ".count($files)." apps</font>":""; ?> )<br>
    <form action='<?php echo $_SERVER["REQUEST_URI"]; ?>' method='post' enctype='multipart/form-data' name='uploaded_form'>
        <?php	if(isset($files)&&count($files)!==FALSE) { ?>
        <table border='0' align='center' width='800px'>
            <tr class='tr_top_stat'>
                <td><b> <input type='checkbox' name='checker' onclick="checkAll('uploaded_form');this.checked=this.checked?false:true;" value='Test'></b></td>
                <td><b>ID</b></td>
                <td><b>App file name</b></td> 
                <td><b>Size</b></td>
                <td><b>Uploaded</b></td>
            </tr>

            <?php	foreach ($files as $i=> $tmp_filename) { ?>
            <?php $tr_class=fmod($i,2)?'row_class1':'row_class2'; ?>
            <tr class=<?php echo $tr_class; ?>>
                <td><input type='checkbox' name='uploaded_app[<?php echo $i; ?>]' value='<?php echo $tmp_filename; ?>'></td> 
                <td><?php echo $i; ?></td>
                <td><?php echo $tmp_filename; ?></td>
                <td><font color='grey'><?php echo filesize($tmp_folder.$tmp_filename); ?></font></td>
                <td><?php echo date ("M d Y H:i:s", filemtime($tmp_folder.$tmp_filename)); ?></td>
            </tr>
            <?php };  ?>

        </table>
        <br>
        <input type='submit' name='delete' value='Delete Selected Apps' OnClick="return confirm('Are you sure you want to delete these files?');" />
        <input type='submit' name='process' value='Process' />
        <?php } else echo "<i>No Elements!</i>"; ?>
        <br>
        <br>
        <hr>
    </form>
</div>
<div>

    <!-- Generate list of processed APK files and list corresponding infor form DB -->		
    <b>Processed Applications</b> (now in the DB and folder <?php echo $permanent_folder; ?>
    <?php echo (isset($list_processed)&&count($list_processed)>0)?", <font color='grey'>total: ".count($list_processed)." apps</font>":""; ?> )<br>
    <form action='<?php echo $_SERVER["REQUEST_URI"]; ?>' method='post' enctype='multipart/form-data' name='processed_form'>

        <?php	if(isset($list_processed)&count($list_processed)>0 ) { ?>
        <table border='0' align='center' width='800px'>
            <tr class='tr_top_stat'>
                <td><b> <input type='checkbox' name='checker' onclick="checkAll('processed_form');this.checked=this.checked?false:true;" value='Test'></b></td>
                <td><b>ID</b></td>
                <td><b>App Label</b></td> 
                <td><b>VesrionName</b></td>
                <td><b>VesrionCode</b></td>
                <td><b>Min SDK (API) Version</b></td>
                <td><b>Target SDK (API) Version</b></td>
                <td><b>Package Name</b></td>
                <td><b>Info</b></td>
            </tr>

            <?php	foreach ($list_processed as $i=> $processed_app) { ?>
            <?php $tr_class=fmod($i,2)?'row_class1':'row_class2'; ?>
            <tr class=<?php echo $tr_class; ?>>
                <td><input type='checkbox' name='selected_apps[<?php echo $i; ?>]' value='<?php echo $processed_app['id_app']; ?>'></td> 
                <td><?php echo $processed_app['id_app']; ?></td>
                <td><?php echo $processed_app['app_label']; ?></td>
                <td><?php echo $processed_app['version']; ?></td>
                <td><?php echo $processed_app['versionCode']; ?></td>
                <td><?php echo $processed_app['sdkVersion']; ?></td>
                <td><?php echo $processed_app['targetSdkVersion']; ?></td>
                <td><?php echo $processed_app['package_name']; ?></td>
                <td>
                    <a href="javascript:toggleDiv('hidContent<?php echo $i; ?>');" class="more_button">More</a>
                </td>							
            </tr>
            <tr>
                <td colspan="11" class="tr_hidden">
                    <div id='hidContent<?php echo $i; ?>' class="hiddenDesc" style=" padding: 5px 10px;">

                        <table class="table_hidden">
                            <tr>
                                <td><b>Package MD5</b></td>
                                <td><?php echo $processed_app['md5_name']; ?></td>
                            </tr>
                            <tr>
                                <td><b>Package Size</b></td>
                                <td><?php echo $processed_app['filesize']; ?></td>
                            </tr> 
                            <tr>
                                <td><b>Package Uploaded</b></td>
                                <td><?php echo $processed_app['uploaded']; ?></td>
                            </tr>
                            <tr>
                                <td><b>Launchable Activity</b></td>
                                <td><?php echo $processed_app['launchable_activity']; ?></td>
                            </tr>
                            <tr>
                                <td><b>Permissions</b></td>
                                <td><?php echo printArray(unserialize($processed_app['permissions'])); ?></td>
                            </tr>
                            <tr>
                                <td><b>Package Structure</b></td>
                                <td><?php echo printArray(unserialize($processed_app['package_structure'])); ?></td>
                            </tr>
                            <tr>
                                <td><b>Locales</b></td>
                                <td><?php echo $processed_app['locales']; ?></td>
                            </tr>
                            <tr>
                                <td><b>Supports Screens</b></td>
                                <td><?php echo $processed_app['supports_screens']; ?></td>
                            </tr>
                            <tr>
                                <td><b>Densities</b></td>
                                <td><?php echo $processed_app['densities']; ?></td>
                            </tr>
                            <tr>
                                <td><b>Native Code</b></td>
                                <td><?php echo $processed_app['native_code']; ?></td>
                            </tr>
                        </table>

                    </div>
                <td>
            </tr>
            <?php };  ?>
        </table>
        <br>
        <input type='submit' name='deleteProcessed' value='Delete Selected' OnClick="return confirm('Are you sure you want to delete these apps \nfrom disk and from DB? \nALL CORESPONDING TEST AND ANALYSIS DATA WILL BE DELETED!!!');" />	
        <?php } else echo "<i>No Elements!</i>"; ?>
        <br>
        <br>
    </form>
</div>
<?php } else if(!count($_GET)) { ?>
<h4>Current page is designed for uploading and statistical analysis of APK packages </h4> 
You can upload android application, check uploaded and perform processing of apps.
<br>
<?php }; ?>
<br>

