<?php if(isset($_GET['vm_info'])) { ?>
<div>
    <b>Existing Android Emulator Targets</b><br>
    <font color='grey'>(these targets are preloaded images of OS Android, based on which AVD is created)</font>
</div>

<?php	if(isset($available_targets)&&count($available_targets)!==FALSE) { ?>
<table border='0' align='center' width='800px'>
    <tr class='tr_top_stat'>
        <td><b>Target ID</b></td>
        <td><b>Pseudonim</b></td> 
        <td><b>OS Name</b></td>
        <td><b>Type</b></td>
        <td><b>Api Level</b></td>
        <td><b>Revision</b></td>
        <td width='400px'><b>Available Skins</b></td>
        <td><b>ABI</b></td>
    </tr>
    <?php	foreach ($available_targets as $i=> $tmp_target) { ?>
    <?php $tr_class=fmod($i,2)?'row_class1':'row_class2'; ?>
    <tr class=<?php echo $tr_class; ?>>
        <td><?php echo $tmp_target['id_target']; ?></td>
        <td><?php echo $tmp_target['pseudonim']; ?></td>
        <td><?php echo $tmp_target['name']; ?></td>
        <td><?php echo $tmp_target['type']; ?></td>
        <td><?php echo $tmp_target['api_level']; ?></td>
        <td><?php echo $tmp_target['revision']; ?></td>
        <td><?php echo $tmp_target['skins']; ?></td>
        <td><?php echo $tmp_target['ABIs']; ?></td>
    </tr>
    <?php };  ?>				
</table>
<br>
<?php } else echo "<i>No Elements!</i>"; ?>
<hr>

<div>
    <br><b>Existing Android Virtual Devices (AVD)</b><br>
    <font color='grey'>(AVD or Virtual Machine is used to perform testing of processed applications)</font>
</div> 
<form action='<?php echo $_SERVER["REQUEST_URI"]; ?>' method='post' enctype='multipart/form-data' name='avd_info_form'>
    <?php	if(isset($available_avds)&&count($available_avds)!==FALSE) { ?>
    <table border='0' align='center' width='800px'>
        <tr class='tr_top_stat'>
            <td><b> <input type='checkbox' name='checker' onclick="checkAll('avd_info_form');this.checked=this.checked?false:true;" value='Test'></b></td>
            <td><b>AVD Name</b></td>
            <td><b>OS Name</b></td>
            <td><b>API Level</b></td>
            <td><b>ABI</b></td>
            <td><b>Skin</b></td>
            <td><b>Path</b></td> 
        </tr>
        <?php	foreach ($available_avds as $i=> $tmp_avd) { ?>
        <?php $tr_class=fmod($i,2)?'row_class1':'row_class2'; ?>
        <tr class=<?php echo $tr_class; ?>>
            <td><input type='checkbox' name='avds_selected[<?php echo $i; ?>]' value='<?php echo $tmp_avd['avd_name']; ?>'></td> 
            <td><?php echo $tmp_avd['avd_name']; ?></td>
            <td><?php echo $tmp_avd['target']; ?></td>
            <td><?php echo $tmp_avd['api_level']; ?></td>
            <td><?php echo $tmp_avd['ABI']; ?></td>
            <td><?php echo $tmp_avd['skins']; ?></td>
            <td><?php echo $tmp_avd['path']; ?></td>
        </tr>
        <?php };  ?>				
    </table>
    <br>
    <input type='submit' name='delete_avds' value='Delete Selected AVDs' OnClick="return confirm('Are you sure you want to delete these AVDs?');" />
    <?php } else echo "<i>No Elements!</i>"; ?>
    <br><br>
    <hr>
    <br>
    <font color='grey'>(In order to avoid any software problems due to change configuration of Andorid SDK<br> please, regularly recheck all AVDs and Targets)</font>
    <br><input type='submit' name='vm_recheck' Value='ReCheck All AVD and Targets' OnClick="return confirm('Are you sure you want to ReCheck \nAndroid Virtual Devices and Targets (Platforms)? \nTakes some time to execute.');" />		
</form>

<?php } else if(isset($_GET['create_vm'])) { ?>
<div>
    <b>Create new Android Virtual Device (AVD) from Targets</b><br>
    <font color='grey'>(Select Target Platform Image for the AVD)</font>

</div>  
<?php	if(isset($available_targets)&&count($available_targets)!==FALSE) { ?>

<form action='<?php echo $_SERVER["REQUEST_URI"]; ?>' method='post' enctype='multipart/form-data' name='avd_create_form'>
    <table border='0' align='center' width='800px'>
        <tr class='tr_top_stat'>
            <td><b>Select</b></td>
            <td><b>Target ID</b></td>
            <td><b>Pseudonim</b></td> 
            <td><b>OS Name</b></td>
            <td><b>Type</b></td>
            <td><b>API Level</b></td>
            <td><b>Revision</b></td>
            <td width='400px'><b>Available Skins</b></td>
            <td><b>ABI</b></td>
        </tr>
        <?php	foreach ($available_targets as $i=> $tmp_target) { ?>
        <?php $tr_class=fmod($i,2)?'row_class1':'row_class2'; ?>
        <tr class=<?php echo $tr_class; ?>>
            <td><input type='radio' checked name='selected_target' value='<?php echo $tmp_target['id_target']; ?>'></td>
            <td><?php echo $tmp_target['id_target']; ?></td>
            <td><?php echo $tmp_target['pseudonim']; ?></td>
            <td><?php echo $tmp_target['name']; ?></td>
            <td><?php echo $tmp_target['type']; ?></td>
            <td><?php echo $tmp_target['api_level']; ?></td>
            <td><?php echo $tmp_target['revision']; ?></td>
            <td><?php echo $tmp_target['skins']; ?></td>
            <td><?php echo $tmp_target['ABIs']; ?></td>
        </tr>
        <?php };  ?>				
    </table>
    <br>
    Enter the AVD name: <input type='text' name='avd_name' value=''>
    <!-- Check name and if is correct - then perform creation, otherwise stay on the page -->
    <input type='submit' name='create_avd' value='Create AVD' 
           OnClick="var pattern=/[a-zA-Z0-9._-]$/; if(pattern.test(document.avd_create_form.avd_name.value)==false){ alert('Wrong name: only a-zA-Z0-9._-'); return false;}else{return true;}" />
</form>

<?php } else echo "<i>No Targets Available. Try to install!</i>"; ?>


<?php } else if(!count($_GET)) { ?>
<h4>Current page is designed for Android Virtual Devices (AVD) management </h4>
Here you can check Status of existing Virtual Devices, Target Platform and create a new AVD. <br> 

<?php }; ?>
<br>
